__pycache__
wandb
gencode*
GENCODE*
!gencode_GRCh38p14.v49_processed.zip
data/
results/
past_trash/
notebooks_past/
mapping-pipeline

*.gz
*.csv
*.tsv
*.pkl
*.txt
*.pth
*.pt
*.pyc
*.clstr

*.python-version
*.png
*.pdf

*.bed
*.bg
*.bigWig
*.fa

*.js
*.html
*.css
*.pptx
